.category{
    h2{
        text-align: left;
        
    }
display: flex;
flex-direction: column;
    .slider{
        display: flex;
        overflow: auto;
        border-top: 5px solid white;
    }
}
