.category{
    h2{
        text-align: left;
        
    }
display: flex;
flex-direction: column;
    .slider{
        display: flex;
        overflow: auto;
        border-top: 5px solid white;
        .card-thumb{
            .img-container{
                width: 415px;
            height: 600px;
            img{
                width: 100%;
                height: 100%;
            }
        }
            &:hover .card-info{
                visibility: visible;
            }
        .card-info{
            bottom: 0;
            right:0%;
            background-color: #0a0a0a;
            width: 415px;
            max-height: 300px;
            padding: 1rem;
            overflow: hidden;
            visibility: hidden;
                .item-overview{
                    max-height: 100px;
                    overflow: hidden;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                }

            }

        }
    }
}
